<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="AirDB"
      connectionString="data source=.\SQLEXPRESS;initial catalog=cair;persist security info=True;user id=airu;password=airvolution123;multipleactiveresultsets=True;application name=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>